@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.logo{
    width: 20%;
    float: left;
}


.logo img{
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: 220px;
    left: 40px;
    height: 50px;
}

.main-header nav{
    float: right;
    right: 40px;
    position: absolute;
    margin-top: 25px;
}

.main-header nav button{
    background-color: #8e8492;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0px 0px;
    border-radius: 18px;
  }

.main-header nav button:hover{
    cursor: pointer;
      transform: scale(1.1);
      background: rgb(236, 230, 239);
      box-shadow: 1px 1px 10px #999494;
      font-weight: 700;
  }

.main-header nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin: 0 20px;
}

.main-header nav a:hover{
    color: #615b8f;
}

.main-header .button{
    display: inline;
}

.main-header{
    height: 80px;
    background-color: rgb(255, 255, 255);
    z-index: 12;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 20px #c0b9b9;
}

.content{
    float: left;
    height: 80vh;
    margin-top: 180px;
    left: 40px;
    width: 40%;
    margin-left: 80px;
    text-align: left;
    padding-left: 20px;
}


.home-img{
    z-index:1;
    position: absolute;
    float: right;
    width: 50%;
    margin-left: 53%;
    margin-top: 180px;
}

.home-img img{
    border-radius: 10%;
}

.home-img img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px #c0b9b9;
}

.main-content{
    font-weight: bold;
    color: #1a1446;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    line-height: 70px;
}

.main-content span{
    font-size: 70px;
    font-family: 'Nunito', sans-serif;
    color: #72609b;
}

.content p{
    font-size: 25px ;
    padding: 2px;
    font-family: 'Nunito', sans-serif;
    color:#4b495a;
}

#Home .demo-booking{
    background-image: linear-gradient(to top left,#615b8f,#0b0729);
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px 2px;
    border-radius: 10px;
    color: azure;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
}

#Home .demo-booking :hover{
color: #0b0729;
transform: scale(1.5);
}


.area{
    background: #ffffff;  
    background-color: white;
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #a5a1ca;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.home-img {
  display: flex;
  width: 40vw;
  height: 80vh;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 1px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgb(3, 3, 3);
  font-family: 'Poppins',sans-serif;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/*About */

.compare-site{
    display: flex;
    width: fit-content;
    margin: 10px 180px;
    padding: 15px;
}

.compare-site img{
    filter: grayscale(100%);
    opacity: 0.5;
    margin: 10px;
    padding: 10px 20px;
}

#About h2{
    font-family: 'Nunito',sans-serif;
    color:#482575;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
    padding: 5px;
    align-items: center;
}



.main{
    background-image: linear-gradient(#6a6494,#ffffff);
    width: 100%;
    height: 90vh; 
    display: flex; 
}

.mainButton button{
    position: absolute;
    margin-top:500px;
    margin-left: 8%;
    color: rgb(244, 244, 248);
    background-color: #282250;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    
}
.mainButton button:hover {
    background-image: linear-gradient(#6a6494,hsl(269, 75%, 11%));
    color: white;
    font-weight: 700;
} 
.mainImg img{
    width: 550px;
    height: 450px;
    position: relative;
    margin-top: 100px;
    margin-left: 90px;
    display: inline-block;
    border-radius: 50%;
}
.mainHeading h3{
    position: absolute;
    text-align: left;
    letter-spacing: 1px;
    color: rgb(27, 21, 51);
    font-weight: bold;
    font-size: 40px;
    margin-left: 730px;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.mainContent p{
    color: rgb(42, 35, 68);
    position: absolute;
    text-align: justify;
    line-height: 20px;
    font-weight: 400;
    margin-top: 12%;
    font-size: 13px;
    padding: 40px 100px;
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainImg .backImg {
    display: none;
    position: absolute;
    width: 560px;
    height: 450px;
    margin-top: 100px;
    margin-left: 80px;
    /* padding-left: 3%; */
    border-radius: 50%;
    z-index: 10;
}

.mainImg:hover .backImg{
    display: inline;
}


/*----------------------------------
------------Contact-----------------*/
  
#Contact .contact-page{
    color: rgb(66, 61, 87);
    font-family:  'Nunito', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content:center;
    margin: 200px;
    letter-spacing: 1px;
    background:linear-gradient(#ffffff,#a5a1ca);
    border-radius: 50px;
    box-shadow: 1px 1px 10px #999494;
}

#Contact .contact.form{
    padding: 50px;
}

#Contact .contact.details{
    padding: 50px;
}

#Contact h4{
    padding-bottom: 20px;
}
#Contact p{
    line-height: 1.5;
    font-size: 12px;
}

#Contact .form-group {
    position: relative;
    margin-bottom:28px;
}


#Contact .gt-input {
    font-size:20px;

    border:none;
    background-color: transparent;
    resize: none;
    outline: none;

    border-bottom: 1px solid rgb(65, 58, 88);
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    color: #ccc;
    box-sizing: content-box; 
}


#Contact .gt-text {
    padding:10px 20px;
    height:100px;
    width:100%;
    font-family:"Roboto";
    font-size:12px;
}

#Contact .gt-input:focus {
    outline:none;
}

#Contact label {
    position: absolute;
    font-size:12px;
    color:rgb(70, 58, 88);
    transition: all .4s;
    top:40px;
    transform:translateY(-50%);
    margin-left:18px;
    cursor:text;
    z-index: 1;
}

#Contact .map{
margin-top: 30px;

}

#Contact .gt-button{

    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0px 0px;
    letter-spacing: 1PX;
    cursor: pointer;
    font-weight: 400;
    border-radius: 18px;
    color: white;
    box-shadow: 1px 1px 10px #999494;
    background:linear-gradient(#453d7f,#383356);
     
}

#Contact .gt-button:hover {
    background:linear-gradient(#ffffff,#ffffff);
    color: rgb(52, 30, 71);
    font-weight: bold;
}

#Contact .move-up {
    margin-top:-32px;
    margin-left:0px;
    font-size:14px;
    background:linear-gradient(#615b8f,#0b0729);
    border-radius:8px 0;
    color:white;
    padding:4px 8px;
    min-width:100px;
}

/**************************/
/* FOOTER */
/**************************/


.footer {
    color: #ccc;
    font-family:  'Nunito', sans-serif;
    border-top: 1px solid rgb(36, 31, 31);
    background-color: #0b0729;
  }
  
.footer .footer-container{
    display: flex;
    justify-content:space-around;
    background:linear-gradient(#615b8f,#0b0729);
    height: 200px;
    padding: 40px;
}
  
.footer-col h2{
font-family: 'Nunito',sans-serif;
letter-spacing: 1px;
}

.footer .footer-col{
    width: 200px;
    line-height: 1.5;
}
  
.footer .subscribe-col{
    padding-top: 30px;
    line-height: 2;
}

  
.footer .subscribe-col input{ 
    font-size:10px;
    background-color: transparent;
    border: 0;
    background-color:white;
    resize: none;
    outline: none;
    padding: 10px 25px;
    margin: 8px 0;
    color: #ccc;
    box-sizing: content-box; 
  
  }
  .footer .subscribe-col button{
    border:0;
    color:white;
    background:linear-gradient(#ff0000,#880404);
    transition:.4s;
    cursor: pointer;
    border-radius: 30%;
    padding: 5px 15px;
    margin: 5px;
  }
  
  
  .footer .subscribe-col i{
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
  }
  
  
  .footer .alink{
    text-decoration: none;
    color: #ccc;
    font-size: 13px;
  }

  .footer p{
    color: #ccc;
    font-size: 13px;
    line-height:1px;
  }
  
  
  .footer .alink:hover{
    color: rgb(154, 124, 214);
  }

  footer .footer-bottom p {
    /* padding-left: 550px; */
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

